body {
    background-color: black;
margin: 0px;
}

ul {
  list-style-type: none;
 z-index: 1;
  padding: 0;
  overflow: hidden;
  position: fixed;
  background-color: #1D1C1C;
  top: 0;
  width: 100%;

  -webkit-box-shadow: 10px 10px 60px 17px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 60px 17px rgba(0,0,0,0.75);
box-shadow: 10px 10px 60px 17px rgba(0,0,0,0.75);
}

li {
  float: left;
}

li a {
    font-family: 'Montserrat', sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.4s;
}

li a:hover:not(.active) {
  background-color: #516F18;
  transition-duration: 0.4s;
}

.active {
  background-color: #77B900;
}
.logo{
    width: 250px;
    position: fixed;
    z-index: 2;
    top:5px;
    

}
.main{
    margin-top: 150px;
    margin-left: 15px;
}
i{
    color: white;
}
.shopcart{
     float:right;
     padding-right: 20px;
     
}
.bckg{
    width: 100%;
    position: absolute;
    z-index: -1;
    
}
h1{
    padding-top: 50px;
    padding-left:15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
font-size: 80px;
position: absolute;
top: 100px;
-webkit-box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.75);
box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.75);
}
p{
    color: white;
    
}
.shopnowa{
    padding-left: 15px;
}
.shopnowb{
    background-color: black;
    border: 2px solid #77B900;
    border-radius: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 25px;
    transition-duration: 0.4s;
}
.shopnowb:hover{
    cursor: pointer;
   background-color: #516F18;
   transition-duration: 0.4s;
}
    .gpu{
        position: absolute;
        width: 500px;
filter: hue-rotate(50deg);
    }
pre{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
body {
        overflow: ;
    }

.mtext{
        padding-top: 100px;
    padding-left:15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
font-size: 80px;
position: relative;
top: 100px;
    }
.mtext2{
        padding-top: 90px;
    }

    @media (max-width:800px) {
        body{
            font-size: 15px;
        }
  .mtext2{
      
      font-size: 11px;
  }
  figure{
      margin-left: 4px;
  }

  .mtext{
      
    padding-top: 10px;
      font-size: 30px;
  }
  .shopnowb{
      font-size: 15px;
  }
  .gpu{
      width: 200px;
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background:black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#77B900; 
}
body{
    overflow-x: hidden;
}
#i2{
    padding-top: 100px;
    padding-left:25px;
    font-size: 100px;
    color:#77B900;
}
.grid-container {
    margin: 50px;
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: rgb(0, 0, 0); ;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
h3{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
}
p{
    font-family: 'Montserrat', sans-serif;
}
body {
background-image: url("bckg2.jpg");
background-repeat: repeat;
background-size: 250px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .form{
      margin: 200px;
  }
  label{
      color: white;
      font-family: 'Montserrat', sans-serif;
  }
  .white{
    background-color: white;
  }
  .gfxp{
    width: 350px;
    position: relative;
    left:10%;
    padding-top: 25px;
padding-bottom: 25px;
  }
  