
body {
    background-color: black;
margin: 0px;
}

ul {
  list-style-type: none;
 z-index: 1;
  padding: 0;
  overflow: hidden;
  position: fixed;
  background-color: #1D1C1C;
  top: 0;
  width: 100%;

  -webkit-box-shadow: 10px 10px 60px 17px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 60px 17px rgba(0,0,0,0.75);
box-shadow: 10px 10px 60px 17px rgba(0,0,0,0.75);
}

li {
  float: left;
}

li a {
    font-family: 'Montserrat', sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.4s;
}

li a:hover:not(.active) {
  background-color: #516F18;
  transition-duration: 0.4s;
}

.active {
  background-color: #77B900;
}
.logo{
    width: 250px;
    position: fixed;
    z-index: 2;
    top:5px;
    

}
.main{
    margin-top: 150px;
    margin-left: 15px;
}
i{
    color: white;
}
.shopcart{
     float:right;
     padding-right: 20px;
     
}
.bckg{
    width: 100%;
    position: absolute;
    z-index: -1;
    
}
h1{
    padding-top: 50px;
    padding-left:15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
font-size: 80px;
position: absolute;
top: 100px;
-webkit-box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.75);
box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.75);
}
p{
    color: white;
    
}
.shopnowa{
    padding-left: 15px;
}
.shopnowb{
    background-color: black;
    border: 2px solid #77B900;
    border-radius: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 25px;
    transition-duration: 0.4s;
}
.shopnowb:hover{
    cursor: pointer;
   background-color: #516F18;
   transition-duration: 0.4s;
}
    .gpu{
        position: absolute;
        width: 500px;
filter: hue-rotate(50deg);
    }
pre{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
body {
        overflow: ;
    }

.mtext{
        padding-top: 100px;
    padding-left:15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
font-size: 80px;
position: relative;
top: 100px;
    }
.mtext2{
        padding-top: 90px;
    }

    @media (max-width:800px) {
        body{
            font-size: 15px;
        }
  .mtext2{
      
      font-size: 11px;
  }
  figure{
      margin-left: 4px;
  }

  .mtext{
      
    padding-top: 10px;
      font-size: 30px;
  }
  .shopnowb{
      font-size: 15px;
  }
  .gpu{
      width: 200px;
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background:black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#77B900; 
}
body{
    overflow-x: hidden;
}
#i2{
    padding-top: 100px;
    padding-left:25px;
    font-size: 100px;
    color:#77B900;
}
a{
    color: white;
    text-decoration: none;
}
    .secondtile{
        margin-top: 200px;
        background-color: black;
    }
    .smtext{
        color: #77B900;
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        text-align: center; 
    }
    .stext{
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        text-align: center; 
    }
    .bckg2{
        width: 1400px;
        padding-left: 40px;
    }
    .figtext2{
        position: absolute;
        color: white;
        font-size: 50px;
        top:1300px;
    }
    p{
        color: white;
        font-family: 'Montserrat', sans-serif;
        margin-right: 150px;
        margin-left: 150px;
    }
    .gpu2{
        width: 500px;

    }
    .center{
        text-align: center;
    }
    .thirdtile{
        margin-top: 150px;
        background-color: white;
    }
    .fourthtile{
        margin-top: 100px;
        background-color:#77B900;
    }
